name: functional-loadbalancer
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  pull_request:
    paths:
      - '.github/workflows/functional-loadbalancer.yml'
      - 'go.mod'
      - 'openstack/**_lb_**'
      - 'CHANGELOG.md'
      - 'scripts/*'
  schedule:
    - cron: '0 0 */3 * *'
permissions:
  contents: read
jobs:
  functional-loadbalancer:
    strategy:
      fail-fast: false
      matrix:
        name: ["master"]
        openstack_version: ["master"]
        ubuntu_version: ["24.04"]
        include:
          - name: "master"
            openstack_version: "master"
            ubuntu_version: "24.04"
          - name: "flamingo"
            openstack_version: "stable/2025.2"
            ubuntu_version: "24.04"
          - name: "epoxy"
            openstack_version: "stable/2025.1"
            ubuntu_version: "24.04"
          - name: "dalmatian"
            openstack_version: "stable/2024.2"
            ubuntu_version: "22.04"
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: Octavia on OpenStack ${{ matrix.name }}
    steps:
      - name: Checkout TPO
        uses: actions/checkout@v4
      - name: Download Octavia Amphora test image
        run: |
          curl -Lso amphora-x64-haproxy.qcow2 https://tarballs.opendev.org/openstack/octavia/test-images/test-only-amphora-x64-haproxy-ubuntu-noble.qcow2
      - name: Deploy devstack
        uses: gophercloud/devstack-action@v0.19
        with:
          branch: ${{ matrix.openstack_version }}
          conf_overrides: |
            enable_plugin octavia https://github.com/openstack/octavia ${{ matrix.openstack_version }}
            enable_plugin neutron https://github.com/openstack/neutron ${{ matrix.openstack_version }}
            enable_plugin barbican https://github.com/openstack/barbican ${{ matrix.openstack_version }}

            OCTAVIA_AMP_IMAGE_FILE="${{ github.workspace }}/amphora-x64-haproxy.qcow2"

            ${{ matrix.devstack_conf_overrides }}
          enabled_services: 'octavia,o-api,o-cw,o-hk,o-hm,o-da,barbican-svc,barbican-retry,barbican-keystone-listener'
      - name: Checkout go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Run TPO acceptance tests
        run: OS_LB_ENVIRONMENT=true ./scripts/acceptancetest.sh
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          ACCEPTANCE_TESTS_FILTER: "lb.*v2|v2.*lb"
          OS_BRANCH: ${{ matrix.openstack_version }}
      - name: Generate logs on failure
        run: ./scripts/collectlogs.sh
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: functional-loadbalancer-${{ matrix.name }}
          path: /tmp/devstack-logs/*
