# Keymanager/barbican tests run only for versions >= wallaby
# due to barbican's default policies changing completely
# on wallaby
name: functional-keymanager
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  pull_request:
    paths:
      - '.github/workflows/functional-keymanager.yml'
      - 'go.mod'
      - 'openstack/**keymanager**'
      - 'CHANGELOG.md'
      - 'scripts/*'
  schedule:
    - cron: '0 0 */3 * *'
jobs:
  functional-keymanager:
    strategy:
      fail-fast: false
      matrix:
        name: ["master"]
        openstack_version: ["master"]
        ubuntu_version: ["22.04"]
        include:
          - name: "dalmatian"
            openstack_version: "stable/2024.2"
            ubuntu_version: "22.04"
          - name: "caracal"
            openstack_version: "stable/2024.1"
            ubuntu_version: "22.04"
          - name: "bobcat"
            openstack_version: "stable/2023.2"
            ubuntu_version: "22.04"
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: keymanager on OpenStack ${{ matrix.name }} with Barbican and run keymanager acceptance tests
    steps:
      - name: Checkout TPO
        uses: actions/checkout@v4
      - name: Deploy devstack
        uses: EmilienM/devstack-action@v0.15
        with:
          branch: ${{ matrix.openstack_version }}
          conf_overrides: |
            enable_plugin barbican https://github.com/openstack/barbican ${{ matrix.openstack_version }}
          enabled_services: 'barbican-svc,barbican-retry,barbican-keystone-listener'
      - name: Checkout go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Run TPO acceptance tests
        run: OS_KEYMANAGER_ENVIRONMENT=True ./scripts/acceptancetest.sh
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          ACCEPTANCE_TESTS_FILTER: "keymanager"
          OS_BRANCH: ${{ matrix.openstack_version }}
      - name: Generate logs on failure
        run: ./scripts/collectlogs.sh
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: functional-keymanager-${{ matrix.name }}
          path: /tmp/devstack-logs/*
