name: functional-db
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  pull_request:
    paths:
      - '.github/workflows/functional-db.yml'
      - 'go.mod'
      - 'openstack/**_db_**'
      - 'CHANGELOG.md'
      - 'scripts/*'
  schedule:
    - cron: '0 0 */3 * *'
permissions:
  contents: read
jobs:
  functional-db:
    strategy:
      fail-fast: false
      matrix:
        name: ["master"]
        openstack_version: ["master"]
        ubuntu_version: ["22.04"]
        include:
          - name: "master"
            openstack_version: "master"
            ubuntu_version: "22.04"
          - name: "epoxy"
            openstack_version: "stable/2025.1"
            ubuntu_version: "22.04"
          - name: "dalmatian"
            openstack_version: "stable/2024.2"
            ubuntu_version: "22.04"
          - name: "caracal"
            openstack_version: "stable/2024.1"
            ubuntu_version: "22.04"
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: db on OpenStack ${{ matrix.name }} with Trove and run db acceptance tests
    steps:
      - name: Checkout TPO
        uses: actions/checkout@v4
      - name: Deploy devstack
        uses: EmilienM/devstack-action@v0.15
        with:
          branch: ${{ matrix.openstack_version }}
          conf_overrides: |
            sudo apt-get autoremove python3-pexpect -y
            enable_plugin trove https://opendev.org/openstack/trove ${{ matrix.openstack_version }}
            GLANCE_LIMIT_IMAGE_SIZE_TOTAL=5000
            SWIFT_MAX_FILE_SIZE=5368709122
          enabled_services: 's-account,s-container,s-object,s-proxy'
      - name: Checkout go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Run TPO acceptance tests
        run: OS_DB_ENVIRONMENT=True ./scripts/acceptancetest.sh
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          ACCEPTANCE_TESTS_FILTER: "database"
      - name: Generate logs on failure
        run: ./scripts/collectlogs.sh
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: functional-db-${{ matrix.name }}
          path: /tmp/devstack-logs/*
