# Functional testing for images
name: functional-images
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  pull_request:
    paths:
      - '.github/workflows/functional-images.yml'
      - 'go.mod'
      - 'openstack/**images**'
      - 'CHANGELOG.md'
      - 'scripts/*'
  schedule:
    - cron: '0 0 */3 * *'
jobs:
  functional-basic:
    strategy:
      fail-fast: false
      matrix:
        name: ["master"]
        openstack_version: ["master"]
        ubuntu_version: ["22.04"]
        include:
          - name: "dalmatian"
            openstack_version: "stable/2024.2"
            ubuntu_version: "22.04"
          - name: "caracal"
            openstack_version: "stable/2024.1"
            ubuntu_version: "22.04"
          - name: "bobcat"
            openstack_version: "stable/2023.2"
            ubuntu_version: "22.04"
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: images/glance on OpenStack ${{ matrix.name }} with defaults and run basic acceptance tests
    steps:
      - name: Checkout TPO
        uses: actions/checkout@v4
      - name: Deploy devstack
        uses: EmilienM/devstack-action@v0.15
        with:
          branch: ${{ matrix.openstack_version }}
          enabled_services: 's-account,s-container,s-object,s-proxy'
      - name: Checkout go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.22'
      - name: Run TPO acceptance tests
        run: ./scripts/acceptancetest.sh
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          ACCEPTANCE_TESTS_FILTER: 'images'
          OS_BRANCH: ${{ matrix.openstack_version }}
      - name: Generate logs on failure
        run: ./scripts/collectlogs.sh
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: functional-basic-${{ matrix.name }}
          path: /tmp/devstack-logs/*
