name: functional-sharedfilesystem
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  pull_request:
    paths:
      - '.github/workflows/functional-sharedfilesystem.yml'
      - 'go.mod'
      - 'openstack/**sharedfilesystem**'
      - 'CHANGELOG.md'
      - 'scripts/*'
  schedule:
    - cron: '0 0 */3 * *'
jobs:
  functional-sharedfilesystem:
    strategy:
      fail-fast: false
      matrix:
        name: ["master"]
        openstack_version: ["master"]
        ubuntu_version: ["22.04"]
        include:
          - name: "caracal"
            openstack_version: "stable/2024.1"
            ubuntu_version: "22.04"
          - name: "bobcat"
            openstack_version: "stable/2023.2"
            ubuntu_version: "22.04"
          - name: "antelope"
            openstack_version: "stable/2023.1"
            ubuntu_version: "22.04"
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: sharedfilesystem on OpenStack ${{ matrix.name }} with Manila and run sharedfilesystem acceptance tests
    steps:
      - name: Checkout TPO
        uses: actions/checkout@v4
      - name: Deploy devstack
        uses: EmilienM/devstack-action@v0.15
        with:
          branch: ${{ matrix.openstack_version }}
          conf_overrides: |
            enable_plugin manila https://github.com/openstack/manila ${{ matrix.openstack_version }}
            # LVM Backend config options
            MANILA_SERVICE_IMAGE_ENABLED=False
            SHARE_DRIVER=manila.share.drivers.lvm.LVMShareDriver
            MANILA_ENABLED_BACKENDS=chicago,denver
            MANILA_BACKEND1_CONFIG_GROUP_NAME=chicago
            MANILA_BACKEND2_CONFIG_GROUP_NAME=denver
            MANILA_SHARE_BACKEND1_NAME=CHICAGO
            MANILA_SHARE_BACKEND2_NAME=DENVER
            MANILA_OPTGROUP_chicago_driver_handles_share_servers=False
            MANILA_OPTGROUP_denver_driver_handles_share_servers=False
            SHARE_BACKING_FILE_SIZE=32000M
            MANILA_DEFAULT_SHARE_TYPE_EXTRA_SPECS='snapshot_support=True create_share_from_snapshot_support=True revert_to_snapshot_support=True mount_snapshot_support=True'
            MANILA_CONFIGURE_DEFAULT_TYPES=True
            MANILA_INSTALL_TEMPEST_PLUGIN_SYSTEMWIDE=false
      - name: Checkout go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.20'
      - name: Run TPO acceptance tests
        run: OS_SFS_ENVIRONMENT=True ./scripts/acceptancetest.sh
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          ACCEPTANCE_TESTS_FILTER: "sharedfilesystem|sfs.*v2|v2.*sfs"
          OS_BRANCH: ${{ matrix.openstack_version }}
      - name: Generate logs on failure
        run: ./scripts/collectlogs.sh
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: functional-sharedfilesystem-${{ matrix.name }}
          path: /tmp/devstack-logs/*
