name: functional-objectstorage
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  pull_request:
    paths:
      - '.github/workflows/functional-objectstorage.yml'
      - 'go.mod'
      - 'openstack/**objectstorage**'
      - 'CHANGELOG.md'
      - 'scripts/*'
  schedule:
    - cron: '0 0 */3 * *'
permissions:
  contents: read
jobs:
  functional-objectstorage:
    strategy:
      fail-fast: false
      matrix:
        name: ["master"]
        openstack_version: ["master"]
        ubuntu_version: ["22.04"]
        include:
          - name: "epoxy"
            openstack_version: "stable/2025.1"
            ubuntu_version: "22.04"
          - name: "dalmatian"
            openstack_version: "stable/2024.2"
            ubuntu_version: "22.04"
          - name: "caracal"
            openstack_version: "stable/2024.1"
            ubuntu_version: "22.04"
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: Swift on OpenStack ${{ matrix.name }}
    steps:
      - name: Checkout Gophercloud
        uses: actions/checkout@v4
      - name: Deploy devstack
        uses: gophercloud/devstack-action@v0.19
        with:
          branch: ${{ matrix.openstack_version }}
          conf_overrides: |
            SWIFT_ENABLE_TEMPURLS=True
            SWIFT_TEMPURL_KEY=secretkey
            [[post-config|\$SWIFT_CONFIG_PROXY_SERVER]]
            [filter:versioned_writes]
            allow_object_versioning = true

            [filter:keystoneauth]
            reseller_admin_role = admin
          enabled_services: '-n-api,-n-cpu,-n-cond,-n-sch,-n-novnc,-n-api-meta,-placement-api,-placement-client,-g-api,-c-sch,-c-api,-c-vol,-ovn-controller,-ovn-northd,-ovs-vswitchd,-ovsdb-server,-q-svc,-q-ovn-metadata-agent,-rabbit,-etcd3,s-account,s-container,s-object,s-proxy'
      - name: Checkout go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Run Gophercloud acceptance tests
        run: OS_SWIFT_ENVIRONMENT=true ./scripts/acceptancetest.sh
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          ACCEPTANCE_TESTS_FILTER: "objectstorage"
          OS_BRANCH: ${{ matrix.openstack_version }}
      - name: Generate logs on failure
        run: ./scripts/collectlogs.sh
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: functional-objectstorage-${{ matrix.name }}
          path: /tmp/devstack-logs/*
