name: Lint

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  golangci-lint:
    name: Golang Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: 'v2.1'

  markdown-lint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: '**/*.md'
          config: '.github/.markdownlint-cli2.jsonc'
